@tailwind base;
@tailwind components;
@tailwind utilities;

.list {
  position: relative;
  padding: 0 10px;
}
.list:after {
  content: "";
  position: absolute;
  background-color: #fc1348;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.list:hover:after {
  width: 100%;
}
.footer-list {
  position: relative;
}
.footer-list:after {
  content: "";
  position: absolute;
  background-color: #f15109;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.footer-list:hover:after {
  width: 100%;
}

.upCommingContainter {
  background-image: url("../app/images/patternBg.jpg");
  background-repeat: no-repeat;
  background-size: 750px;
}

.ticketPricegContainter {
  background-image: url("../app/images/ticketPrice/background-blog-home-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.heroContainer {
  background-image: url("../app/images/heroBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutContainer {
  background-image: url("../app/images/about/bgDiscoverMore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.studentContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../app/images/about/bg-discount-for-student.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}
.contactContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../app/images/about/background-map-contact-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3; /* Adjust the opacity value (0.0 to 1.0) */
}
.eventBg {
  background-image: url("../app/images/event/background-header-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* slider  */

.gallary {
  background-image: url("../app/images/patternBg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallary-item {
  height: 330px;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 250px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}

.gallary-item-1 {
  left: 15%;
  opacity: 0.3;
  transform: translateX(-50%);
}

.gallary-item-2,
.gallary-item-4 {
  height: 380px;
  opacity: 1;
  width: 300px;
  z-index: 1;
}

.gallary-item-2 {
  left: 30%;
  transform: translateX(-50%);
}
.gallary-item-3 {
  left: 30%;
  box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
  height: 500px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 370px;
  z-index: 2;
}
.gallary-item-4 {
  left: 70%;
  transform: translateX(-50%);
}
.gallary-item-5 {
  left: 85%;
  opacity: 0.4;
  transform: translateX(-50%);
}

@media only screen and (max-width: 766px) {
  .studentContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../app/images/about/bg-discount-for-student.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
  }
}

/* loading animation */
.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica;
}

.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
